body{background-color: lightblue;}

p{color: darkgray; font-size: 20px;}

.box{color: aliceblue; width: 200px; height: 100px; border-radius: 15px; border-color: red; background: black; display: inline-block;}